interactions:
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc?OP=MKDIRS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc?OP=LISTSTATUS&api-version=2018-05-01&listSize=10
  response:
    body: {string: !!python/unicode '{"FileStatuses":{"FileStatus":[]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123a.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123a.txt
        [16baea3e-103d-46c1-acc5-fb7d7f59af7e][2018-10-16T15:42:24.2261417-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123a.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=137dedbf-1a9e-4cec-b854-cdca35dafeb6&filesessionid=137dedbf-1a9e-4cec-b854-cdca35dafeb6
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123a.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=137dedbf-1a9e-4cec-b854-cdca35dafeb6&filesessionid=137dedbf-1a9e-4cec-b854-cdca35dafeb6']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123b.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123b.txt
        [4f563cf8-c255-4b92-a277-5d62b63e5743][2018-10-16T15:42:24.2886515-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123b.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=6283c627-aa3b-4d69-9a48-4d23bbfd5aa8&filesessionid=6283c627-aa3b-4d69-9a48-4d23bbfd5aa8
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123b.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=6283c627-aa3b-4d69-9a48-4d23bbfd5aa8&filesessionid=6283c627-aa3b-4d69-9a48-4d23bbfd5aa8']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123c.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123c.txt
        [78aa957a-899a-4021-8844-60225ec09a21][2018-10-16T15:42:24.3667747-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123c.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=284707a3-edd6-468c-bfbb-6ce469dbcaaa&filesessionid=284707a3-edd6-468c-bfbb-6ce469dbcaaa
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123c.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=284707a3-edd6-468c-bfbb-6ce469dbcaaa&filesessionid=284707a3-edd6-468c-bfbb-6ce469dbcaaa']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123d.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123d.txt
        [d2f90b2c-b41d-4db2-83b2-fef2c5b83eb2][2018-10-16T15:42:24.4448774-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123d.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=6cf89c9f-57db-409b-a685-fac376460019&filesessionid=6cf89c9f-57db-409b-a685-fac376460019
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123d.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=6cf89c9f-57db-409b-a685-fac376460019&filesessionid=6cf89c9f-57db-409b-a685-fac376460019']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123e.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123e.txt
        [845c371f-9ecc-48bf-b541-ec6b44d9121d][2018-10-16T15:42:24.5230301-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123e.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=028585de-2fb6-49c8-b330-1b8175c064b8&filesessionid=028585de-2fb6-49c8-b330-1b8175c064b8
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123e.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=028585de-2fb6-49c8-b330-1b8175c064b8&filesessionid=028585de-2fb6-49c8-b330-1b8175c064b8']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123f.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123f.txt
        [c0d94531-2223-4919-8ae3-81b74ce3900f][2018-10-16T15:42:24.6011499-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123f.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=e127e73c-6806-4760-84a4-a64c32d30167&filesessionid=e127e73c-6806-4760-84a4-a64c32d30167
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123f.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=e127e73c-6806-4760-84a4-a64c32d30167&filesessionid=e127e73c-6806-4760-84a4-a64c32d30167']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123g.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123g.txt
        [d3aedee5-4701-4395-9341-4baa0b5cd612][2018-10-16T15:42:24.6636576-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123g.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=0157c82e-a4f2-4322-aa6c-c9b0dd93296b&filesessionid=0157c82e-a4f2-4322-aa6c-c9b0dd93296b
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123g.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=0157c82e-a4f2-4322-aa6c-c9b0dd93296b&filesessionid=0157c82e-a4f2-4322-aa6c-c9b0dd93296b']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123h.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123h.txt
        [0c782702-534a-4565-9de1-d642d3cf0ced][2018-10-16T15:42:24.7261336-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123h.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=34bd17bd-d487-4277-8672-4af9db479d21&filesessionid=34bd17bd-d487-4277-8672-4af9db479d21
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123h.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=34bd17bd-d487-4277-8672-4af9db479d21&filesessionid=34bd17bd-d487-4277-8672-4af9db479d21']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123i.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123i.txt
        [46cd7e54-6c5d-4151-a704-80775a1cb5dc][2018-10-16T15:42:24.8042807-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123i.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=2ab299a2-3684-4a81-b894-21d6e0a8f1c2&filesessionid=2ab299a2-3684-4a81-b894-21d6e0a8f1c2
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123i.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=2ab299a2-3684-4a81-b894-21d6e0a8f1c2&filesessionid=2ab299a2-3684-4a81-b894-21d6e0a8f1c2']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123j.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123j.txt
        [71ce39fe-eced-4d16-93e7-3b98f6fb756c][2018-10-16T15:42:24.8824129-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123j.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=316f4334-e832-42d1-ad2e-3235a32adbdb&filesessionid=316f4334-e832-42d1-ad2e-3235a32adbdb
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc/123j.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=316f4334-e832-42d1-ad2e-3235a32adbdb&filesessionid=316f4334-e832-42d1-ad2e-3235a32adbdb']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc?OP=LISTSTATUS&api-version=2018-05-01&listSize=9
  response:
    body: {string: !!python/unicode '{"FileStatuses":{"FileStatus":[{"length":0,"pathSuffix":"123a.txt","type":"FILE","blockSize":268435456,"accessTime":1539729744261,"modificationTime":1539729744261,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false},{"length":0,"pathSuffix":"123b.txt","type":"FILE","blockSize":268435456,"accessTime":1539729744324,"modificationTime":1539729744324,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false},{"length":0,"pathSuffix":"123c.txt","type":"FILE","blockSize":268435456,"accessTime":1539729744392,"modificationTime":1539729744392,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc?OP=LISTSTATUS&api-version=2018-05-01&listSize=9&listAfter=123i.txt
  response:
    body: {string: !!python/unicode '{"FileStatuses":{"FileStatus":[{"length":0,"pathSuffix":"123j.txt","type":"FILE","blockSize":268435456,"accessTime":1539729744905,"modificationTime":1539729744905,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc?OP=LISTSTATUS&api-version=2018-05-01&listSize=10&listAfter=123j.txt
  response:
    body: {string: !!python/unicode '{"FileStatuses":{"FileStatus":[]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc?OP=LISTSTATUS&api-version=2018-05-01&listSize=2&listAfter=123b.txt
  response:
    body: {string: !!python/unicode '{"FileStatuses":{"FileStatus":[{"length":0,"pathSuffix":"123c.txt","type":"FILE","blockSize":268435456,"accessTime":1539729744392,"modificationTime":1539729744392,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false},{"length":0,"pathSuffix":"123d.txt","type":"FILE","blockSize":268435456,"accessTime":1539729744469,"modificationTime":1539729744469,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc?OP=LISTSTATUS&api-version=2018-05-01&listSize=2&listAfter=123d.txt
  response:
    body: {string: !!python/unicode '{"FileStatuses":{"FileStatus":[{"length":0,"pathSuffix":"123e.txt","type":"FILE","blockSize":268435456,"accessTime":1539729744545,"modificationTime":1539729744545,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false},{"length":0,"pathSuffix":"123f.txt","type":"FILE","blockSize":268435456,"accessTime":1539729744623,"modificationTime":1539729744623,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc?OP=LISTSTATUS&api-version=2018-05-01&listSize=2&listAfter=123f.txt
  response:
    body: {string: !!python/unicode '{"FileStatuses":{"FileStatus":[{"length":0,"pathSuffix":"123g.txt","type":"FILE","blockSize":268435456,"accessTime":1539729744690,"modificationTime":1539729744690,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false},{"length":0,"pathSuffix":"123h.txt","type":"FILE","blockSize":268435456,"accessTime":1539729744751,"modificationTime":1539729744751,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc?OP=LISTSTATUS&api-version=2018-05-01&listSize=2&listAfter=123h.txt
  response:
    body: {string: !!python/unicode '{"FileStatuses":{"FileStatus":[{"length":0,"pathSuffix":"123i.txt","type":"FILE","blockSize":268435456,"accessTime":1539729744832,"modificationTime":1539729744832,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false},{"length":0,"pathSuffix":"123j.txt","type":"FILE","blockSize":268435456,"accessTime":1539729744905,"modificationTime":1539729744905,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49?OP=LISTSTATUS&api-version=2018-05-01&listSize=4000
  response:
    body: {string: !!python/unicode '{"FileStatuses":{"FileStatus":[{"length":0,"pathSuffix":"abc","type":"DIRECTORY","blockSize":0,"accessTime":1539729744208,"modificationTime":1539729744919,"replication":0,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"FileStatus":{"length":0,"pathSuffix":"","type":"DIRECTORY","blockSize":0,"accessTime":1539729744208,"modificationTime":1539729744919,"replication":0,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","aclBit":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/abc?OP=DELETE&api-version=2018-05-01&recursive=True
  response:
    body: {string: !!python/unicode '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/abc?api-version=2018-05-01&OP=MKDIRS
  response:
    body: {string: !!python/unicode '{"boolean":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/abc?api-version=2018-05-01&listSize=10&OP=LISTSTATUS
  response:
    body: {string: !!python/unicode '{"FileStatuses":{"FileStatus":[]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/abc/123a.txt?api-version=2018-05-01&OP=GETFILESTATUS
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/abc/123a.txt
        [88688d2c-7164-478f-bc3f-c05e7aba3153][2018-10-29T16:57:15.8938450-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/abc/123a.txt?filesessionid=4ff2347a-a77f-4933-bc99-08615321e48d&write=true&leaseid=4ff2347a-a77f-4933-bc99-08615321e48d&api-version=2018-05-01&syncFlag=CLOSE&overwrite=true&OP=CREATE
  response:
    body: {string: !!python/unicode ''}
    headers:
      contentlength: ['0']
      location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/abc/123a.txt?filesessionid=4ff2347a-a77f-4933-bc99-08615321e48d&write=true&leaseid=4ff2347a-a77f-4933-bc99-08615321e48d&api-version=2018-05-01&syncFlag=CLOSE&overwrite=true&OP=CREATE']
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/abc/123b.txt?api-version=2018-05-01&OP=GETFILESTATUS
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/abc/123b.txt
        [438d13e9-1457-4719-9595-724b0616e631][2018-10-29T16:57:16.0032228-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: PUT
[...]
