interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a
        [621c5dc3-4f54-43c6-bf46-a92742744732][2018-10-16T15:42:41.9564018-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode 0123456789abcdef
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=9be28cde-0d1e-478f-b435-f382d01b8d6e&filesessionid=9be28cde-0d1e-478f-b435-f382d01b8d6e
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=9be28cde-0d1e-478f-b435-f382d01b8d6e&filesessionid=9be28cde-0d1e-478f-b435-f382d01b8d6e']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"FileStatus":{"length":16,"pathSuffix":"","type":"FILE","blockSize":268435456,"accessTime":1539729761988,"modificationTime":1539729762018,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=OPEN&api-version=2018-05-01&offset=2&length=4&read=true&filesessionid=2b3c8660-8926-4162-b5e7-0abb5db50f05
  response:
    body: {string: !!python/unicode 2345}
    headers:
      Content-Type: [application/octet-stream]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=DELETE&api-version=2018-05-01&recursive=True
  response:
    body: {string: !!python/unicode '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/a?api-version=2018-05-01&OP=GETFILESTATUS
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/a
        [089d2460-04e1-4cc3-b7a7-e6e72fdb56cf][2018-10-29T16:57:36.4084808-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode 0123456789abcdef
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/a?filesessionid=85571e49-a45e-4e67-a1ed-138ade64de01&write=true&leaseid=85571e49-a45e-4e67-a1ed-138ade64de01&api-version=2018-05-01&syncFlag=CLOSE&overwrite=true&OP=CREATE
  response:
    body: {string: !!python/unicode ''}
    headers:
      contentlength: ['0']
      location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/a?filesessionid=85571e49-a45e-4e67-a1ed-138ade64de01&write=true&leaseid=85571e49-a45e-4e67-a1ed-138ade64de01&api-version=2018-05-01&syncFlag=CLOSE&overwrite=true&OP=CREATE']
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/a?filesessionid=8caa1e95-b305-4e35-b6df-5a3d1db0dd8f&read=true&length=4&offset=2&api-version=2018-05-01&OP=OPEN
  response:
    body: {string: !!python/unicode 2345}
    headers:
      content-type: [application/octet-stream]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/a?api-version=2018-05-01&recursive=True&OP=DELETE
  response:
    body: {string: !!python/unicode '{"boolean":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
version: 1
