interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a
        [957fee2c-a47f-41c8-b4b4-2847b5d15cf1][2018-10-16T15:42:45.2401216-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: 0123456789abcdef
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=26a5d8c5-f30f-4f7c-b65f-31880cde8702&filesessionid=26a5d8c5-f30f-4f7c-b65f-31880cde8702
  response:
    body: {string: ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=26a5d8c5-f30f-4f7c-b65f-31880cde8702&filesessionid=26a5d8c5-f30f-4f7c-b65f-31880cde8702']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: '{"FileStatus":{"length":16,"pathSuffix":"","type":"FILE","blockSize":268435456,"accessTime":1539729765282,"modificationTime":1539729765318,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=OPEN&api-version=2018-05-01&offset=2&length=4&read=true&filesessionid=e0b601e4-b406-4f2d-a85f-0363919f931c
  response:
    body: {string: '2345'}
    headers:
      Content-Type: [application/octet-stream]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=DELETE&api-version=2018-05-01&recursive=True
  response:
    body: {string: '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
version: 1
