interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/a?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/a
        [0b46c5f4-de4b-4006-9d31-93eb74e13cd7][2018-11-12T15:48:14.4501968-08:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/a?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=b8e3789d-a192-4c34-99b2-09bebc8a9aab&filesessionid=b8e3789d-a192-4c34-99b2-09bebc8a9aab
  response:
    body: {string: ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/a?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=b8e3789d-a192-4c34-99b2-09bebc8a9aab&filesessionid=b8e3789d-a192-4c34-99b2-09bebc8a9aab']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/a?OP=MODIFYACLENTRIES&api-version=2018-05-01&aclSpec=user%3A3883e0e8-9ad3-440d-b6f6-6ed492ae1ae7%3A---
  response:
    body: {string: ''}
    headers:
      ContentLength: ['0']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/a?OP=MSGETACLSTATUS&api-version=2018-05-01
  response:
    body: {string: '{"AclStatus":{"entries":["user::rwx","user:3883e0e8-9ad3-440d-b6f6-6ed492ae1ae7:---","group::rwx","mask::rwx","other::---"],"owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","permission":"770","stickyBit":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/a?OP=MODIFYACLENTRIES&api-version=2018-05-01&aclSpec=user%3A3883e0e8-9ad3-440d-b6f6-6ed492ae1ae7%3Arwx
  response:
    body: {string: ''}
    headers:
      ContentLength: ['0']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681?OP=LISTSTATUS&api-version=2018-05-01&listSize=4000
  response:
    body: {string: '{"FileStatuses":{"FileStatus":[{"length":0,"pathSuffix":"a","type":"FILE","blockSize":268435456,"accessTime":1542066494479,"modificationTime":1542066494479,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":true}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/a?OP=DELETE&api-version=2018-05-01&recursive=True
  response:
    body: {string: '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
version: 1
