interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/12%2C%2B3%23456%3F.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/12,+3#456?.txt
        [09ae723a-06cb-44f3-a9d3-4cb24708a515][2018-10-16T15:42:38.3822450-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: 0123456789
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/12%2C%2B3%23456%3F.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=dead7629-1993-4c7f-a062-9dd47bd69639&filesessionid=dead7629-1993-4c7f-a062-9dd47bd69639
  response:
    body: {string: ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/12,+3%23456%3F.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=dead7629-1993-4c7f-a062-9dd47bd69639&filesessionid=dead7629-1993-4c7f-a062-9dd47bd69639']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/12%2C%2B3%23456%3F.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: '{"FileStatus":{"length":10,"pathSuffix":"","type":"FILE","blockSize":268435456,"accessTime":1539729758404,"modificationTime":1539729758460,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/12%2C%2B3%23456%3F.txt?OP=OPEN&api-version=2018-05-01&offset=0&length=10&read=true&filesessionid=f37f917f-6c25-403c-8798-799bc73dcc1c
  response:
    body: {string: 0123456789}
    headers:
      Content-Type: [application/octet-stream]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/12%2C%2B3%23456%3F.txt?OP=DELETE&api-version=2018-05-01&recursive=True
  response:
    body: {string: '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/12%2C%2B3%23456%3F.txt?api-version=2018-05-01&OP=GETFILESTATUS
  response:
    body: {string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/12,+3#456?.txt
        [d846b734-0da6-419d-bbd0-e9ead51cc4f6][2018-10-29T16:57:31.4506427-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: 0123456789
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/12%2C%2B3%23456%3F.txt?filesessionid=6ad46486-f31a-46b0-94d5-a01b66bad64e&write=true&leaseid=6ad46486-f31a-46b0-94d5-a01b66bad64e&api-version=2018-05-01&syncFlag=CLOSE&overwrite=true&OP=CREATE
  response:
    body: {string: ''}
    headers:
      contentlength: ['0']
      location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/12,+3%23456%3F.txt?filesessionid=6ad46486-f31a-46b0-94d5-a01b66bad64e&write=true&leaseid=6ad46486-f31a-46b0-94d5-a01b66bad64e&api-version=2018-05-01&syncFlag=CLOSE&overwrite=true&OP=CREATE']
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/12%2C%2B3%23456%3F.txt?filesessionid=acf09279-1498-4f88-ad39-0ceac3972c30&read=true&length=10&offset=0&api-version=2018-05-01&OP=OPEN
  response:
    body: {string: 0123456789}
    headers:
      content-type: [application/octet-stream]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/12%2C%2B3%23456%3F.txt?api-version=2018-05-01&recursive=True&OP=DELETE
  response:
    body: {string: '{"boolean":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/12%2C%2B3%23456%3F.txt?OP=DELETE&api-version=2018-05-01&recursive=True
  response:
    body: {string: '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
version: 1
