interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a
        [b89adbe0-5135-4d5f-94d0-5050d379cd9d][2018-10-16T15:42:44.1962335-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode 0123456789abcdef
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=08b506b3-4be3-4e08-a149-845681ccda8a&filesessionid=08b506b3-4be3-4e08-a149-845681ccda8a
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=08b506b3-4be3-4e08-a149-845681ccda8a&filesessionid=08b506b3-4be3-4e08-a149-845681ccda8a']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"FileStatus":{"length":16,"pathSuffix":"","type":"FILE","blockSize":268435456,"accessTime":1539729764227,"modificationTime":1539729764258,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=OPEN&api-version=2018-05-01&offset=2&length=4&read=true&filesessionid=72c065c7-db1f-4a23-b444-de609fd83663
  response:
    body: {string: !!python/unicode 2345}
    headers:
      Content-Type: [application/octet-stream]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=DELETE&api-version=2018-05-01&recursive=True
  response:
    body: {string: !!python/unicode '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/a?api-version=2018-05-01&OP=GETFILESTATUS
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/a
        [63e9455e-4e47-42ee-af36-3954582c7bca][2018-10-29T16:57:39.5601162-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode 0123456789abcdef
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/a?filesessionid=59465328-87c1-412b-8760-e29595d2696f&write=true&leaseid=59465328-87c1-412b-8760-e29595d2696f&api-version=2018-05-01&syncFlag=CLOSE&overwrite=true&OP=CREATE
  response:
    body: {string: !!python/unicode ''}
    headers:
      contentlength: ['0']
      location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/a?filesessionid=59465328-87c1-412b-8760-e29595d2696f&write=true&leaseid=59465328-87c1-412b-8760-e29595d2696f&api-version=2018-05-01&syncFlag=CLOSE&overwrite=true&OP=CREATE']
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/a?filesessionid=1be94ecc-1447-4775-b433-3a42d901cf51&read=true&length=4&offset=2&api-version=2018-05-01&OP=OPEN
  response:
    body: {string: !!python/unicode 2345}
    headers:
      content-type: [application/octet-stream]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir09a10d70-be51-4e07-9161-481937d28385/a?api-version=2018-05-01&recursive=True&OP=DELETE
  response:
    body: {string: !!python/unicode '{"boolean":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
version: 1
