interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a
        [4d7f39fc-2620-4656-8b77-6efb9e569f8b][2018-10-16T15:42:39.9056626-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: 0123456789abcdef
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=d74b77d5-c8b6-4bc6-ac32-5e702c3a01d8&filesessionid=d74b77d5-c8b6-4bc6-ac32-5e702c3a01d8
  response:
    body: {string: ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=d74b77d5-c8b6-4bc6-ac32-5e702c3a01d8&filesessionid=d74b77d5-c8b6-4bc6-ac32-5e702c3a01d8']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: '{"FileStatus":{"length":16,"pathSuffix":"","type":"FILE","blockSize":268435456,"accessTime":1539729759933,"modificationTime":1539729760015,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=OPEN&api-version=2018-05-01&offset=2&length=4&read=true&filesessionid=5dedce68-289c-4867-9665-77fffded0cee
  response:
    body: {string: '2345'}
    headers:
      Content-Type: [application/octet-stream]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/a?OP=DELETE&api-version=2018-05-01&recursive=True
  response:
    body: {string: '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
version: 1
