interactions:
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49?OP=MKDIRS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/x.csv?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/x.csv
        [7c65a631-65f6-429c-ac44-5019931cdd12][2018-10-16T15:48:05.1799100-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode 123456
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/x.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=f41a4404-7fa3-40e8-9407-e65489353297&filesessionid=f41a4404-7fa3-40e8-9407-e65489353297
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/x.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=f41a4404-7fa3-40e8-9407-e65489353297&filesessionid=f41a4404-7fa3-40e8-9407-e65489353297']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/y.csv?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/y.csv
        [022bc3d4-7bf8-4cb9-a7b3-598d326bcff1][2018-10-16T15:48:05.4768048-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode 123456
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/y.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=f7e36d66-deb4-4d10-96fa-91a3d8482b2a&filesessionid=f7e36d66-deb4-4d10-96fa-91a3d8482b2a
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/y.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=f7e36d66-deb4-4d10-96fa-91a3d8482b2a&filesessionid=f7e36d66-deb4-4d10-96fa-91a3d8482b2a']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/z.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/z.txt
        [8658e775-db6a-4b9b-9e12-a73aa3f9a261][2018-10-16T15:48:05.6174247-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode 123456
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/z.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=bd945ae4-c737-407b-981a-179a3e88ab76&filesessionid=bd945ae4-c737-407b-981a-179a3e88ab76
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/z.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=bd945ae4-c737-407b-981a-179a3e88ab76&filesessionid=bd945ae4-c737-407b-981a-179a3e88ab76']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/a?OP=MKDIRS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/a/x.csv?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/a/x.csv
        [aafe8bc5-977a-429d-b773-bc0dedd8785f][2018-10-16T15:48:05.7424102-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode 123456
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/a/x.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=826a7aab-d9ad-478b-8009-88e565787ee0&filesessionid=826a7aab-d9ad-478b-8009-88e565787ee0
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/a/x.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=826a7aab-d9ad-478b-8009-88e565787ee0&filesessionid=826a7aab-d9ad-478b-8009-88e565787ee0']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/a/y.csv?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/a/y.csv
        [b9b23c75-b84d-4834-8b5a-c548e14197c4][2018-10-16T15:48:05.8517857-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode 123456
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/a/y.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=e3f3bd0d-78cb-4ab2-be12-06f8a8175e89&filesessionid=e3f3bd0d-78cb-4ab2-be12-06f8a8175e89
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/a/y.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=e3f3bd0d-78cb-4ab2-be12-06f8a8175e89&filesessionid=e3f3bd0d-78cb-4ab2-be12-06f8a8175e89']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/a/z.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/a/z.txt
        [36e4bf54-f3ca-4cc8-83ac-3477214ba78f][2018-10-16T15:48:05.9611612-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode 123456
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/a/z.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=a9d11329-1c5a-442d-a677-f17a67828f61&filesessionid=a9d11329-1c5a-442d-a677-f17a67828f61
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/a/z.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=a9d11329-1c5a-442d-a677-f17a67828f61&filesessionid=a9d11329-1c5a-442d-a677-f17a67828f61']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/b?OP=MKDIRS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/b/x.csv?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/b/x.csv
        [fb414eb0-b617-4bf1-a47c-a54f666a1740][2018-10-16T15:48:06.1174117-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode 123456
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/b/x.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=9e85a36c-17d5-46d0-9329-37bcf2131498&filesessionid=9e85a36c-17d5-46d0-9329-37bcf2131498
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/b/x.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=9e85a36c-17d5-46d0-9329-37bcf2131498&filesessionid=9e85a36c-17d5-46d0-9329-37bcf2131498']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/b/y.csv?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/b/y.csv
        [d78f942f-5dbc-4711-8994-2390b7b8bfcf][2018-10-16T15:48:06.2892953-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode 123456
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/b/y.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=0535a884-0d35-4e95-8b24-82e342c9fea3&filesessionid=0535a884-0d35-4e95-8b24-82e342c9fea3
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/b/y.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=0535a884-0d35-4e95-8b24-82e342c9fea3&filesessionid=0535a884-0d35-4e95-8b24-82e342c9fea3']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/b/z.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/b/z.txt
        [2122a95c-aaaa-4190-adf7-eef19a9ecc92][2018-10-16T15:48:06.4455364-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode 123456
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/b/z.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=c542fb69-eb0a-4ccd-a523-14bee38981dc&filesessionid=c542fb69-eb0a-4ccd-a523-14bee38981dc
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/b/z.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=c542fb69-eb0a-4ccd-a523-14bee38981dc&filesessionid=c542fb69-eb0a-4ccd-a523-14bee38981dc']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/empty?OP=MKDIRS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/single/single?OP=MKDIRS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/single/single/single.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/single/single/single.txt
        [3c1afcfc-bfa8-464d-9e31-87dedb73e2ca][2018-10-16T15:48:06.6330352-07:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode 123456
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/single/single/single.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=14070791-04db-4584-89df-2fde3df01a43&filesessionid=14070791-04db-4584-89df-2fde3df01a43
  response:
    body: {string: !!python/unicode ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/single/single/single.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=14070791-04db-4584-89df-2fde3df01a43&filesessionid=14070791-04db-4584-89df-2fde3df01a43']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"FileStatus":{"length":0,"pathSuffix":"","type":"DIRECTORY","blockSize":0,"accessTime":1539729733377,"modificationTime":1539730085714,"replication":0,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","aclBit":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49?OP=LISTSTATUS&api-version=2018-05-01&listSize=4000
  response:
    body: {string: !!python/unicode '{"FileStatuses":{"FileStatus":[{"length":0,"pathSuffix":"data","type":"DIRECTORY","blockSize":0,"accessTime":1539730085714,"modificationTime":1539730086608,"replication":0,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","aclBit":false},{"length":6,"pathSuffix":"x.csv","type":"FILE","blockSize":268435456,"accessTime":1539730085213,"modificationTime":1539730085414,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false},{"length":6,"pathSuffix":"y.csv","type":"FILE","blockSize":268435456,"accessTime":1539730085502,"modificationTime":1539730085554,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false},{"length":6,"pathSuffix":"z.txt","type":"FILE","blockSize":268435456,"accessTime":1539730085644,"modificationTime":1539730085664,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data?OP=LISTSTATUS&api-version=2018-05-01&listSize=4000
  response:
    body: {string: !!python/unicode '{"FileStatuses":{"FileStatus":[{"length":0,"pathSuffix":"a","type":"DIRECTORY","blockSize":0,"accessTime":1539730085714,"modificationTime":1539730085997,"replication":0,"permission":"770","owner":"a0b3cb87-9ca9-4769[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/a?OP=LISTSTATUS&api-version=2018-05-01&listSize=4000
  response:
    body: {string: !!python/unicode '{"FileStatuses":{"FileStatus":[{"length":6,"pathSuffix":"x.csv","type":"FILE","blockSize":268435456,"accessTime":1539730085765,"modificationTime":1539730085804,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false},{"length":6,"pathSuffix":"y.csv","type":"FILE","blockSize":268435456,"accessTime":1539730085881,"modificationTime":1539730085914,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false},{"length":6,"pathSuffix":"z.txt","type":"FILE","blockSize":268435456,"accessTime":1539730085988,"modificationTime":1539730086039,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/b?OP=LISTSTATUS&api-version=2018-05-01&listSize=4000
  response:
    body: {string: !!python/unicode '{"FileStatuses":{"FileStatus":[{"length":6,"pathSuffix":"x.csv","type":"FILE","blockSize":268435456,"accessTime":1539730086144,"modificationTime":1539730086211,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false},{"length":6,"pathSuffix":"y.csv","type":"FILE","blockSize":268435456,"accessTime":1539730086316,"modificationTime":1539730086383,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false},{"length":6,"pathSuffix":"z.txt","type":"FILE","blockSize":268435456,"accessTime":1539730086473,"modificationTime":1539730086508,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/empty?OP=LISTSTATUS&api-version=2018-05-01&listSize=4000
  response:
    body: {string: !!python/unicode '{"FileStatuses":{"FileStatus":[]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/single?OP=LISTSTATUS&api-version=2018-05-01&listSize=4000
  response:
    body: {string: !!python/unicode '{"FileStatuses":{"FileStatus":[{"length":0,"pathSuffix":"single","type":"DIRECTORY","blockSize":0,"accessTime":1539730086608,"modificationTime":1539730086679,"replication":0,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/single/single?OP=LISTSTATUS&api-version=2018-05-01&listSize=4000
  response:
    body: {string: !!python/unicode '{"FileStatuses":{"FileStatus":[{"length":6,"pathSuffix":"single.txt","type":"FILE","blockSize":268435456,"accessTime":1539730086666,"modificationTime":1539730086695,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/x.csv?OP=OPEN&api-version=2018-05-01&offset=0&length=6&read=true
  response:
    body: {string: !!python/unicode 123456}
    headers:
      Content-Type: [application/octet-stream]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/y.csv?OP=OPEN&api-version=2018-05-01&offset=0&length=6&read=true
  response:
    body: {string: !!python/unicode 123456}
    headers:
      Content-Type: [application/octet-stream]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/z.txt?OP=OPEN&api-version=2018-05-01&offset=0&length=6&read=true
  response:
    body: {string: !!python/unicode 123456}
    headers:
      Content-Type: [application/octet-stream]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/a/x.csv?OP=OPEN&api-version=2018-05-01&offset=0&length=6&read=true
  response:
    body: {string: !!python/unicode 123456}
    headers:
      Content-Type: [application/octet-stream]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/a/y.csv?OP=OPEN&api-version=2018-05-01&offset=0&length=6&read=true
  response:
    body: {string: !!python/unicode 123456}
    headers:
      Content-Type: [application/octet-stream]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/a/z.txt?OP=OPEN&api-version=2018-05-01&offset=0&length=6&read=true
  response:
    body: {string: !!python/unicode 123456}
    headers:
      Content-Type: [application/octet-stream]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir437f8326-2c53-487e-b0f0-0cd298e9ca49/data/b/x.csv?OP=OPEN&api-version=2018-05-01&offset=0&length=6&read=true
  response:
    body: {string: !!python/unicode 123456}
    headers:
      Content-Type: [application/octet-stream]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
[...]
