interactions:
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681?OP=MKDIRS&api-version=2018-05-01
  response:
    body: {string: '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/x.csv?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/x.csv
        [73353319-86d7-4143-a8a4-7705a493084d][2018-11-12T15:54:11.7186657-08:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: '123456'
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/x.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=5dff9c3c-2d51-426c-998e-6076d90fbf60&filesessionid=5dff9c3c-2d51-426c-998e-6076d90fbf60
  response:
    body: {string: ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/x.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=5dff9c3c-2d51-426c-998e-6076d90fbf60&filesessionid=5dff9c3c-2d51-426c-998e-6076d90fbf60']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/y.csv?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/y.csv
        [c580b592-2586-4fc5-af25-95e7e946854d][2018-11-12T15:54:11.9217908-08:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: '123456'
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/y.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=f956990c-a3d0-4e11-bada-9d6f11db2cb3&filesessionid=f956990c-a3d0-4e11-bada-9d6f11db2cb3
  response:
    body: {string: ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/y.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=f956990c-a3d0-4e11-bada-9d6f11db2cb3&filesessionid=f956990c-a3d0-4e11-bada-9d6f11db2cb3']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/z.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/z.txt
        [50bdde66-8ce3-4917-9b6d-f6e541d0aed4][2018-11-12T15:54:12.1092922-08:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: '123456'
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/z.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=214a983e-2881-42ab-8502-5ddb8a91c612&filesessionid=214a983e-2881-42ab-8502-5ddb8a91c612
  response:
    body: {string: ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/z.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=214a983e-2881-42ab-8502-5ddb8a91c612&filesessionid=214a983e-2881-42ab-8502-5ddb8a91c612']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/a?OP=MKDIRS&api-version=2018-05-01
  response:
    body: {string: '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/a/x.csv?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/a/x.csv
        [95497824-ccb3-4663-995e-ad83c3d7734f][2018-11-12T15:54:12.3436669-08:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: '123456'
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/a/x.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=598b4b01-d68e-4afd-9384-f3e5a9ea6a0d&filesessionid=598b4b01-d68e-4afd-9384-f3e5a9ea6a0d
  response:
    body: {string: ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/a/x.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=598b4b01-d68e-4afd-9384-f3e5a9ea6a0d&filesessionid=598b4b01-d68e-4afd-9384-f3e5a9ea6a0d']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/a/y.csv?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/a/y.csv
        [1b05e257-9a8b-48d2-9e0c-f8e0c3007de5][2018-11-12T15:54:12.5467929-08:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: '123456'
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/a/y.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=c704d4eb-3a93-48c2-b7d5-4336ca1cd3e3&filesessionid=c704d4eb-3a93-48c2-b7d5-4336ca1cd3e3
  response:
    body: {string: ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/a/y.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=c704d4eb-3a93-48c2-b7d5-4336ca1cd3e3&filesessionid=c704d4eb-3a93-48c2-b7d5-4336ca1cd3e3']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/a/z.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/a/z.txt
        [c7aea82b-923b-46f9-ad3b-13d0ed219ec9][2018-11-12T15:54:12.6874187-08:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: '123456'
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/a/z.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=56b99b11-7300-487e-9001-fed4f2dc82ac&filesessionid=56b99b11-7300-487e-9001-fed4f2dc82ac
  response:
    body: {string: ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/a/z.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=56b99b11-7300-487e-9001-fed4f2dc82ac&filesessionid=56b99b11-7300-487e-9001-fed4f2dc82ac']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/b?OP=MKDIRS&api-version=2018-05-01
  response:
    body: {string: '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/b/x.csv?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/b/x.csv
        [b5ae2775-ac5b-493c-81bc-16dfdad794d3][2018-11-12T15:54:12.9217938-08:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: '123456'
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/b/x.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=da1db5c1-7568-42b3-95b3-63069f3e8641&filesessionid=da1db5c1-7568-42b3-95b3-63069f3e8641
  response:
    body: {string: ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/b/x.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=da1db5c1-7568-42b3-95b3-63069f3e8641&filesessionid=da1db5c1-7568-42b3-95b3-63069f3e8641']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/b/y.csv?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/b/y.csv
        [f0bfdf94-0701-4d48-a580-26ad46a1d1a0][2018-11-12T15:54:13.0936697-08:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: '123456'
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/b/y.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=afcdf600-d312-4100-8f22-1ebc4eda805b&filesessionid=afcdf600-d312-4100-8f22-1ebc4eda805b
  response:
    body: {string: ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/b/y.csv?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=afcdf600-d312-4100-8f22-1ebc4eda805b&filesessionid=afcdf600-d312-4100-8f22-1ebc4eda805b']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/b/z.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/b/z.txt
        [2d9d39d0-ca2e-4381-99cf-70565fe9bb27][2018-11-12T15:54:13.2342949-08:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: '123456'
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/b/z.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=17d38237-efe5-4409-9754-4c3b6048f2d9&filesessionid=17d38237-efe5-4409-9754-4c3b6048f2d9
  response:
    body: {string: ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/b/z.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=17d38237-efe5-4409-9754-4c3b6048f2d9&filesessionid=17d38237-efe5-4409-9754-4c3b6048f2d9']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/empty?OP=MKDIRS&api-version=2018-05-01
  response:
    body: {string: '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/single/single?OP=MKDIRS&api-version=2018-05-01
  response:
    body: {string: '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/single/single/single.txt?OP=GETFILESTATUS&api-version=2018-05-01
  response:
    body: {string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/single/single/single.txt
        [71f6a715-2c80-4bab-b3e8-4ade1738ec40][2018-11-12T15:54:13.4530469-08:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: '123456'
    headers:
    method: PUT
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/single/single/single.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=08b35fef-9bf5-43ce-915d-d9bb10573158&filesessionid=08b35fef-9bf5-43ce-915d-d9bb10573158
  response:
    body: {string: ''}
    headers:
      ContentLength: ['0']
      Location: ['https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/single/single/single.txt?OP=CREATE&api-version=2018-05-01&overwrite=true&write=true&syncFlag=CLOSE&leaseid=08b35fef-9bf5-43ce-915d-d9bb10573158&filesessionid=08b35fef-9bf5-43ce-915d-d9bb10573158']
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681?OP=LISTSTATUS&api-version=2018-05-01&listSize=4000
  response:
    body: {string: '{"FileStatuses":{"FileStatus":[{"length":0,"pathSuffix":"data","type":"DIRECTORY","blockSize":0,"accessTime":1542066852328,"modificationTime":1542066853444,"replication":0,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","aclBit":false},{"length":6,"pathSuffix":"x.csv","type":"FILE","blockSize":268435456,"accessTime":1542066851760,"modificationTime":1542066851859,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false},{"length":6,"pathSuffix":"y.csv","type":"FILE","blockSize":268435456,"accessTime":1542066851961,"modificationTime":1542066852031,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false},{"length":6,"pathSuffix":"z.txt","type":"FILE","blockSize":268435456,"accessTime":1542066852151,"modificationTime":1542066852234,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data?OP=LISTSTATUS&api-version=2018-05-01&listSize=4000
  response:
    body: {string: '{"FileStatuses":{"FileStatus":[{"length":0,"pathSuffix":"a","type":"DIRECTORY","blockSize":0,"accessTime":1542066852329,"modificationTime":1542066852759,"replication":0,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d893[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/a?OP=LISTSTATUS&api-version=2018-05-01&listSize=4000
  response:
    body: {string: '{"FileStatuses":{"FileStatus":[{"length":6,"pathSuffix":"x.csv","type":"FILE","blockSize":268435456,"accessTime":1542066852395,"modificationTime":1542066852468,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false},{"length":6,"pathSuffix":"y.csv","type":"FILE","blockSize":268435456,"accessTime":1542066852618,"modificationTime":1542066852640,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false},{"length":6,"pathSuffix":"z.txt","type":"FILE","blockSize":268435456,"accessTime":1542066852730,"modificationTime":1542066852812,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/b?OP=LISTSTATUS&api-version=2018-05-01&listSize=4000
  response:
    body: {string: '{"FileStatuses":{"FileStatus":[{"length":6,"pathSuffix":"x.csv","type":"FILE","blockSize":268435456,"accessTime":1542066852955,"modificationTime":1542066852999,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false},{"length":6,"pathSuffix":"y.csv","type":"FILE","blockSize":268435456,"accessTime":1542066853123,"modificationTime":1542066853171,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false},{"length":6,"pathSuffix":"z.txt","type":"FILE","blockSize":268435456,"accessTime":1542066853266,"modificationTime":1542066853312,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/empty?OP=LISTSTATUS&api-version=2018-05-01&listSize=4000
  response:
    body: {string: '{"FileStatuses":{"FileStatus":[]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/single?OP=LISTSTATUS&api-version=2018-05-01&listSize=4000
  response:
    body: {string: '{"FileStatuses":{"FileStatus":[{"length":0,"pathSuffix":"single","type":"DIRECTORY","blockSize":0,"accessTime":1542066853444,"modificationTime":1542066853509,"replication":0,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/single/single?OP=LISTSTATUS&api-version=2018-05-01&listSize=4000
  response:
    body: {string: '{"FileStatuses":{"FileStatus":[{"length":6,"pathSuffix":"single.txt","type":"FILE","blockSize":268435456,"accessTime":1542066853499,"modificationTime":1542066853531,"replication":1,"permission":"770","owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","msExpirationTime":0,"aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/x.csv?OP=MSGETACLSTATUS&api-version=2018-05-01
  response:
    body: {string: '{"AclStatus":{"entries":["user::rwx","user:3883e0e8-9ad3-440d-b6f6-6ed492ae1ae7:---","group::rwx","mask::rwx","other::---"],"owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","permission":"770","stickyBit":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/y.csv?OP=MSGETACLSTATUS&api-version=2018-05-01
  response:
    body: {string: '{"AclStatus":{"entries":["user::rwx","user:3883e0e8-9ad3-440d-b6f6-6ed492ae1ae7:---","group::rwx","mask::rwx","other::---"],"owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","permission":"770","stickyBit":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/z.txt?OP=MSGETACLSTATUS&api-version=2018-05-01
  response:
    body: {string: '{"AclStatus":{"entries":["user::rwx","user:3883e0e8-9ad3-440d-b6f6-6ed492ae1ae7:---","group::rwx","mask::rwx","other::---"],"owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","permission":"770","stickyBit":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/a/x.csv?OP=MSGETACLSTATUS&api-version=2018-05-01
  response:
    body: {string: '{"AclStatus":{"entries":["user::rwx","user:3883e0e8-9ad3-440d-b6f6-6ed492ae1ae7:---","group::rwx","mask::rwx","other::---"],"owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","permission":"770","stickyBit":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/a/y.csv?OP=MSGETACLSTATUS&api-version=2018-05-01
  response:
    body: {string: '{"AclStatus":{"entries":["user::rwx","user:3883e0e8-9ad3-440d-b6f6-6ed492ae1ae7:---","group::rwx","mask::rwx","other::---"],"owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","permission":"770","stickyBit":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/a/z.txt?OP=MSGETACLSTATUS&api-version=2018-05-01
  response:
    body: {string: '{"AclStatus":{"entries":["user::rwx","user:3883e0e8-9ad3-440d-b6f6-6ed492ae1ae7:---","group::rwx","mask::rwx","other::---"],"owner":"a0b3cb87-9ca9-4769-af48-e687823d8937","group":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","permission":"770","stickyBit":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://akharitadls.azuredatalakestore.net/webhdfs/v1/azure_python_sdk_test_dir22bc5d88-20b0-431d-ba7c-a88cf6baf681/data/b/x.csv?OP=MSGETACLSTATUS&api-version=2018-05-01
  response:
[...]
